<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Roles</th>
        <th>Permission</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.roles}"></td>
    </tr>
</table>
</body>
</html>